################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/proj/.vs/ijjs
/.vs
/proj/Debug/win32
*.user
*.pdb
/modules/sigar/Debug
*.obj
*.tlog
*.log
*.idb
*.rdb
*.dll
*.lib
proj/Debug/libijjs-win32.vcxproj.FileListAbsolute.txt
*.so
